body{
	font-family: 'Kanit', sans-serif;
} 

ul li{
		list-style-type: none;
		float: left;
		color: white;

	

	}
	.navbar-nav ul li a{
		padding-bottom: 30px;

		

	}
	
	ul li a{
		text-decoration: none;
		color: white;
		background-color: none;
		padding: 30px;
		margin: 10px;



	}
	 a:hover{
		text-decoration: none;
		color: black;


		
	}
	nav{
		background-color: orange;
		height: 60px;
		padding-bottom: 30px;
		
		font-size: 20px;
		position: fixed;


	}
	
	nav li a {
    position: relative;
    
    padding: 10px 15px;

}
 .bar li a:hover {
    text-decoration: none;
    background-color: transparent !important;
    color: black;
}
	.navbar-brand{
		text-decoration: none;
		color: white;
		padding: 10px;
		margin-top: 10px;



	}
	.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;

}
.item{
	margin-bottom: 20px;
	
}
.a{
	margin-bottom: 40px;
}
.b{
	color: red; 
	text-align: center;
}
.cards-row{
	margin-top: 40px;
}
.c{
	text-align: center;
}
 h1 {
    margin-top: 0px !important;
     margin-bottom: 0px !important;
     font-family: 'Lobster Two', cursive;
	font-weight: bold;
}
.d{
	margin-top: 40px;
}
.fig{
	background-image: url(../images/footer2.jpg);
	height: 200px;
}
.f{
	color: white;
}
.g{
	text-align: center;
}
.h{
	padding: 10px;
	margin: 10px;
	font-size: 15px;
}
h3{
	font-family: 'Lobster Two', cursive;
	font-weight: bold;
}
